# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Environment
.env/
*.env
.venv/
venv/

# Data
data/test_labels.csv
data/validation.csv

# Ignore everything in submissions
submissions/*

# But allow CSV submissions
!submissions/*.csv

# Track a placeholder file to keep folder
!submissions/.gitkeep

# OS and IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
